<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>TP - Compte Twitter </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><img  src="<%= user.twitter.picturelink %>"/> Bienvenue : @<%= user.twitter.username %><br></h1>
        <a href="/logout" class="btn btn-default btn-sm">Déconnexion</a>
    </div>

    <div class="row">

        <!-- INFORMATIONS DU COMPTE TWITTER CONNECTE -->
        <div class="col-sm-12  ">
            <div class="well">
                <h3 class="text-info"><span class="fa fa-twitter"></span>Données Twitter</h3>

                    <p>
                        <strong>Id du compte :</strong>: <%= user.twitter.id %><br>
                        <strong>token de la session : </strong>: <%= user.twitter.token %><br>
                        <strong>Nom du compte :</strong>: <%= user.twitter.displayName %><br>
                        <strong>Dernier Tweet</strong>: <%= user.twitter.derniertweet %>

                        
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>