<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>TP - Compte Google </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><img width="60" height="60"  src="<%= user.google.picturelink %>"/> Bienvenue : <%= user.google.name %></h1>
        <a href="/logout" class="btn btn-default btn-sm">Déconnexion</a>
    </div>

    <div class="row">

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-12 ">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span>Données Google</h3>

                    <p>
                        <strong>id du compte :</strong>: <%= user.google.id %><br>
                        <strong>token de la session :</strong>: <%= user.google.token %><br>
                        <strong>email du compte :</strong>: <%= user.google.email %><br>
                        <strong>Nom Complet :</strong>: <%= user.google.name %>
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>
