<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>TP - Compte Facebook </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><img  src="<%= user.facebook.picturelink %>"/> Bienvenue : <%= user.facebook.name %></h1>
        <a href="/logout" class="btn btn-default btn-sm">Déconnexion</a>
    </div>

    <div class="row">

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-12 ">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Données Facebook</h3>

                    <p>
                        <strong>id du compte :</strong>: <%= user.facebook.id %><br>
                        <strong>Token de la session :</strong>: <%= user.facebook.token %><br>
                        <strong>Adresse email :</strong>: <%= user.facebook.email %><br>
                        <strong>Nom complet :</strong>:  <%= user.facebook.name %>
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>