<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Hidden Founders : TP Messagerie</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
                              <div class="row">
                            <h3 style="position: relative">Envoie de message</h3>
                            <div class="form-group">
                                <input type="text" class="form-control"  id="subject" name="subject" placeholder="Choisir le contact" required="required" />
                            </div>
                            <div class="form-group">

                                    <textarea name="message" id="message"  class="form-control" rows="9" cols="25" required="required"
                                          placeholder="Message"></textarea>
                            </div>
                                <button type="submit" class="btn btn-success">
                                Envoyer
                            </button>

                        </div>
    </div>

</div>
</body>
    
<script>
var signinWin;
$('#FacebookBtn').click(function () {
        var pos = screenCenterPos(800, 500);
        signinWin = window.open("[URL]", "SignIn", "width=780,height=410,toolbar=0,scrollbars=0,status=0,resizable=0,location=0,menuBar=0,left=" + pos.x + ",top=" + pos.y);
        setTimeout(CheckLoginStatus, 2000);
        signinWin.focus();
        return false;
    });
</script>
</html>