<!-- PATH : views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>TP - Accueil/title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>TP Hidden Founders</h1>

        <p>Partie Connexion :</p>

                <a href="/auth/facebook" class="btn btn-primary" id="FacebookBtn"><span class="fa fa-facebook"></span> Facebook</a>  
                <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
                <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>                

        <hr>
                <p>Partie Upload :</p>
                <a href="/indexupload" class="btn btn-warning"><span class="glyphicon glyphicon-cloud-upload"></span> Accéder à la page</a>                

    </div>

</div>
</body>
    
<script>
var signinWin;
$('#FacebookBtn').click(function () {
        var pos = screenCenterPos(800, 500);
        signinWin = window.open("[URL]", "SignIn", "width=780,height=410,toolbar=0,scrollbars=0,status=0,resizable=0,location=0,menuBar=0,left=" + pos.x + ",top=" + pos.y);
        setTimeout(CheckLoginStatus, 2000);
        signinWin.focus();
        return false;
    });
</script>
</html>